# app
fastapi
uvicorn
pydantic
email-validator
python-multipart
shapely
requests

# db
databases[postgresql]
SQLAlchemy
alembic
geoalchemy2

# auth
pyjwt
passlib[bcrypt]

# dev
pytest
pytest-asyncio
pytest-xdist
httpx
asgi-lifespan
docker